---
import Layout from "../layouts/Layout.astro";
import PreguntaFrecuente from "../components/PreguntaFrecuente.jsx";

import Lam1 from "../images/1.jpg";
import Lam2 from "../images/2.jpg";
import Lam3 from "../images/3.jpg";
import Lam4 from "../images/4.jpg";
import Lam5 from "../images/5.jpg";
import Lam6 from "../images/6.jpg";
import Lam7 from "../images/7.jpg";
import Lam8 from "../images/8.jpg";
import Lam9 from "../images/9.jpg";
import Lam10 from "../images/10.jpg";
import TarjetaArticulo from "../components/TarjetaArticulo.astro";
---

<Layout
  title="Manchas de Tinta"
  description="Web especializada en el test de Rorschach su interpretación, teoría y respuestas."
  keywords="test de rochard, test de las manchas, test de rorschach"
  robots="index follow">
  <body>
    <!-- Sección Bienvenida -->
    <section class="bg-emerald-100 text-center p-8">
      <h1 class="text-4xl font-bold text-emerald-800">El Test de Rorschach</h1>
      <p class="text-xl mt-4">
        Todo lo que necesitas para entender el test, explicado por un psicólogo
      </p>
    </section>

    <!-- Sección Sobre el Test -->
    <section class="p-8">
      <div class="container mx-auto">
        <h2 class="text-3xl font-semibold mb-6 text-center md:text-left">
          ¿Qué es el Test de Rorschach?
        </h2>
        <p class="text-lg my-4">
          El Test de Rorschach es la prueba más icónica en la psicología y la
          evaluación de la personalidad. Es raro que no hayas visto alguna de
          las láminas del test, ya que se ha hecho referencia a ellas en el
          cine, la televisión y en un sinfín de contextos más.
        </p>
        <p class="text-lg my-4">
          El fin de esta web es ser de utilidad tanto a psicólogos que necesiten
          ahondar en su teoría e interpretación, como a personas que no tienen
          relación con la profesión pero que quieren aprender un poco más sobre
          ésta. Los artículos que encontrarás acá te ayudarán a derribar mitos y
          conseguir un entendimiento teóricamente correcto sobre la prueba.
        </p>
      </div>
    </section>

    <section class="bg-gray-100 p-8">
      <div class="container mx-auto text-center">
        <h2 class="text-3xl font-semibold mb-6">
          Cómo se aplica el Test de Rorschach
        </h2>
        <p class="text-ls my-4">
          El proceso de aplicación del test generalmente se desarrolla así:
        </p>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 my-8">
          <div>
            <h3 class="text-xl font-medium">Paso 1</h3>
            <p>
              Entrevista inicial, donde el evaluador recopila información sobre
              el porqué la persona requiere la evaluación.
            </p>
          </div>
          <div>
            <h3 class="text-xl font-medium">Paso 2</h3>
            <p>
              Aplicación de la prueba, donde la persona da sus respuestas ante
              las 10 láminas del test.
            </p>
          </div>
          <div>
            <h3 class="text-xl font-medium">Paso 3</h3>
            <p>
              Interpretación y elaboración del informe por parte del evaluador.
            </p>
          </div>
          <div>
            <h3 class="text-xl font-medium">Paso 4</h3>
            <p>
              Devolución de resultados, donde el evaluador entrega el informe y
              se repasan algunos de los puntos más importantes encontrados.
            </p>
          </div>
        </div>
        <p class="text-ls my-4 font-bold">
          Para que una evaluación se considere completa, debería cumplir con al
          menos estos cuatro pasos.
        </p>
      </div>
    </section>

    <!-- Sección Contacto / Llamada a la Acción -->
    <section class="p-8">
      <div class="container mx-auto text-center">
        <h2 class="text-3xl font-semibold mb-6">
          Cuáles son las láminas del Test de Rorschach
        </h2>
        <p class="mb-6">
          El test consta de 10 láminas, 5 en escala de grises y 5 que incluyen
          colores cromáticos.
        </p>
      </div>
    </section>

    <!-- Láminas del Rorschach -->

    <section>

    <div class="flex justify-center items-center w-4/5 md:w-[640px] m-auto">
      <img class="lamina-muestra" />
    </div>

    <div class="flex gap-2 overflow-hidden my-6 justify-center flex-wrap">
      <img
        src={Lam1.src}
        alt="Lámina 1 del test de Rorschach"
        class="lamina-ro object-cover h-12"
      />
      <img
        src={Lam2.src}
        alt="Lámina 2 del test de Rorschach"
        class="lamina-ro object-cover h-12"
      />
      <img
        src={Lam3.src}
        alt="Lámina 3 del test de Rorschach"
        class="lamina-ro object-cover h-12"
      />
      <img
        src={Lam4.src}
        alt="Lámina 4 del test de Rorschach"
        class="lamina-ro object-cover h-12"
      />
      <img
        src={Lam5.src}
        alt="Lámina 5 del test de Rorschach"
        class="lamina-ro object-cover h-12"
      />
      <img
        src={Lam6.src}
        alt="Lámina 6 del test de Rorschach"
        class="lamina-ro object-cover h-12"
      />
      <img
        src={Lam7.src}
        alt="Lámina 7 del test de Rorschach"
        class="lamina-ro object-cover h-12"
      />
      <img
        src={Lam8.src}
        alt="Lámina 8 del test de Rorschach"
        class="lamina-ro object-cover h-12"
      />
      <img
        src={Lam9.src}
        alt="Lámina 9 del test de Rorschach"
        class="lamina-ro object-cover h-12"
      />
      <img
        src={Lam10.src}
        alt="Lámina 10 del test de Rorschach"
        class="lamina-ro object-cover h-12"
      />
    </div>
  </section>

  <article class="container mx-auto">
    <section class="p-8">
      <h2 class="text-3xl font-semibold mb-6">
        Aprende más sobre el test de Rorschach
      </h2>
      <p class="my-4">He preparado artículos con los temas más importantes para que vayas profundizando en el test:</p>
    </section>
    <div class="px-8 mx-auto mb-8 flex flex-wrap items-center justify-center gap-8">

      <TarjetaArticulo
        titulo="Las respuestas más comunes del Rorschach"
        descripcion="Hay respuestas muy comunes que se espera que des, descúbrelas acá..."
        enlace="/interpretacion/respuestas-populares-rorschach"
        imagen={Lam1.src}
      />
    
    </div>
  </article>



  </body>
</Layout>

<script>
  const laminaMuestra = document.querySelector(
    ".lamina-muestra"
  ) as HTMLImageElement;
  const laminasRo = document.querySelectorAll(".lamina-ro");

  if (laminasRo.length > 0) {
    const primeraLamina = laminasRo[0] as HTMLImageElement;
    laminaMuestra.src = primeraLamina.src;
  }

  laminasRo.forEach(lamina => {
    lamina.addEventListener("mouseenter", () => {
      const img = lamina as HTMLImageElement;
      laminaMuestra.src = img.src;
    });
  });
</script>
