---
interface Props {
  nombre: string;
  rut: string;
  direccion: string;
  correo: string;
}

const { nombre, rut, direccion, correo } = Astro.props;
---

<div class="contenedor">
  <h1>POLITICA DE PRIVACIDAD</h1>
  
  <p>
    Responsable de los datos personales: {nombre}, {rut} con domicilio en {
      direccion
    }, en lo adelante EL GESTOR DEL SITIO WEB, y cuyo correo electrónico de
    contacto es {correo}.
  </p>
  
  <p>Datos solicitados en el sitio web y finalidad del tratamiento.</p>
  
  <ul>
    <li>
      Nombre, apellidos y correo electrónico en los formularios de contacto: para
      realizar cualquier contacto directo con EL GESTOR DEL SITIO WEB, ya sea para
      plantear dudas, comentarios, sugerencias, solicitar un servicio o producto,
      o cualquier otra información. No suministrar los datos personales mínimos
      necesarios imposibilitará a EL GESTOR DEL SITIO WEB de responder a la
      petición.
    </li>
    <li>
      Nombre y correo electrónico: para poder realizar comentarios en el blog del
      sitio web.
    </li>
    <li>
      Nombre, apellidos, dirección, teléfono, correo electrónico, número de
      identificación fiscal: se solicitará esta información al momento del pago
      del servicio, ello a los fines de procesar todo lo relacionado con el
      cliente.
    </li>
    <li>
      Nombre, teléfono y correo electrónico para newsletter: con el debido
      consentimiento expreso y voluntario del titular de los datos, se solicitará
      en el sitio web la información mínima necesaria para enviar un boletín
      comercial automatizado, donde se informará sobre publicidad, promociones y
      otra información de los servicios y/o productos ofrecidos por EL GESTOR DEL
      SITIO WEB.
    </li>
    <li>
      Correo electrónico: se solicitará el correo electrónico para poder acceder
      al área de cliente, de acuerdo a los datos suministrados al momento de crear
      la cuenta.
    </li>
  </ul>
  
  <p>
    Si el usuario tiene menos de 16 años, deberá tener la autorización de sus
    padres o tutores legales para entregar sus datos personales. EL GESTOR DEL
    SITIO WEB no tiene manera de comprobar efectivamente la edad de los usuarios,
    por lo que queda eximida de cualquier responsabilidad, si el usuario no cumple
    con lo aquí indicado.
  </p>
  
  <p>
    EL GESTOR DEL SITIO WEB en todo momento velará porque el uso que se le da al
    sitio web, a los contenidos, y al tratamiento de los datos personales del
    usuario, se realicen de la forma más correcta. Para ello, el usuario siempre
    podrá ejercer sus derechos de acceso, rectificación, cancelación,
    portabilidad, olvido u oposición, todo ello en fiel cumplimiento de las
    directrices de las leyes que rigen la materia, escribiendo al correo
    electrónico {correo}.
  </p>
  <p>
    En ningún momento EL GESTOR DEL SITIO WEB compartirá con terceros los datos
    que posee. En caso de hacerlo para cumplir con los servicios contratados por
    algún participante, enviar la newsletter, cumplir con exigencias legales o
    para la administración del sitio web, se proporcionarán los debidos acuerdos
    de confidencialidad entre las partes.
  </p>
  <p>
    Los enlaces a terceros que se puedan encontrar en el sitio web poseen
    políticas de privacidad ajenas a EL GESTOR DEL SITIO WEB. El acceso a estos
    sitios deberá ser responsabilidad del usuario, siendo su responsabilidad
    conocerlas y su decisión aceptarlas o no.
  </p>
  
  <h2>FORMULARIOS</h2>
  
  <p>El sitio web dispone de 4 tipos de formularios:</p>
  
  <p>
    De contacto: el usuario, cliente o participante podrá encontrar formularios
    que facilitarán la comunicación con EL GESTOR DEL SITIO WEB, para plantear
    dudas, comentarios, solicitar un presupuesto, reservar alguno de los servicios
    ofrecidos en el sitio web o exigir algún derecho que tenga. No suministrar los
    datos personales mínimos necesarios imposibilitará a EL GESTOR DEL SITIO WEB
    responder a la petición. Este tratamiento se considerará legítimo por ser
    parte de una diligencia pre-contractual. El servidor del sitio web y del
    correo electrónico de EL GESTOR DEL SITIO WEB serán los encargados del
    tratamiento.
  </p>
  <p>
    De publicidad: se solicitará a los usuarios, compradores o participantes su
    consentimiento expreso y voluntario para entregar a EL GESTOR DEL SITIO WEB,
    los mínimos datos necesarios para enviar publicidad e información comercial
    relacionada con los servicios y/o productos ofrecidos por EL GESTOR DEL SITIO
    WEB, para que se agregue a un fichero automatizado de email marketing
    gestionado por el encargado del tratamiento que se indica más abajo. El
    tratamiento de los datos personales que se encuentren en esta sección, se ha
    hecho con el consentimiento del titular de los datos.
  </p>
  <p>
    Para comentarios en el blog: en aras de evitar el spam, mensajes inadecuados,
    y hacer un correcto seguimiento, se solicitará al usuario su nombre, email y
    sitio web para identificarlo en los comentarios que desee realizar en las
    entradas del blog. Estos datos serán visibles para otros usuarios del sitio
    web. Si no desea que los datos sean visibles por otras personas, deberá
    comunicarse con EL GESTOR DEL SITIO WEB al correo electrónico. El servidor del
    sitio web será el encargado del tratamiento y que se realizará con el
    consentimiento del titular de los datos.
  </p>
  <p>
    Para procesar la solicitud del servicio: se solicitará a los usuarios,
    clientes o participantes sus datos para que EL GESTOR DEL SITIO WEB pueda
    procesar los servicios solicitados por el cliente. Tratamiento legítimo de
    datos personales por la relación contractual que existe con el cliente o
    participante. Los datos serán guardados en el servidor del sitio web.
  </p>
  
  <h2>ENCARGADOS DEL TRATAMIENTO</h2>
  
  <p>
    EL GESTOR DEL SITIO WEB necesita el apoyo de terceros para ofrecer
    adecuadamente sus servicios y productos, con los cuales celebra los debidos
    acuerdos de confidencialidad y verifica el cumplimiento de las normativas
    sobre protección de datos personales.
  </p>
  <p>
    Los datos suministrados a estos terceros no podrán ser utilizados para otros
    fines no autorizados por el titular de los datos.
  </p>
  <p>
    En cumplimiento de los principios de información y transparencia, se hace saber que
    estos terceros son:
  </p>
  
  <ul>
    <li>
      Google Analytics: Servicio de análisis web, para ver las estadísticas del uso del
      sitio web, Este servicio está a cargo de la empresa Google LLC, ubicada en Mountain
      View, California, Estados Unidos de América, cuenta con la suscripción del Escudo
      de la privacidad entre la UE- EE.UU. que puede ser consultado en <a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active" rel="nofollow noopener noreferrer">Este enlace</a>. Si desea obtener más información sobre su política de privacidad puede consultar: <a href="https://policies.google.com/privacy" rel="nofollow noopener noreferrer">Acá...</a>
    </li>
  </ul>
  
  <p>
  En casos puntales EL GESTOR DEL SITIO WEB podrá utilizar aplicaciones o herramientas
  que no hayan sido incluidas o nombradas en este listado, lo anterior por ser una
  mejor opción que coadyuve a la realización de una determinada tarea; si esto sucediera
  EL GESTOR DEL SITIO WEB notificará de esta situación a sus usuarios, clientes o participantes
  según fuere el caso. 
  </p>
  
  <h2>POLÍTICAS RELACIONADAS CON LA NEWSLETTER</h2>
  
  <p>
    Estas políticas se entenderán en todo momento como parte complementaria de los términos y condiciones expuestos en el sitio web, siendo ambos de igual aplicación al momento de una controversia. La política de privacidad y de propiedad intelectual aplicada será la misma que se expone en los términos y condiciones del sitio web.
  </p>
  <p>
    Se entenderá como “newsletter” al boletín digital que EL GESTOR DEL SITIO WEB realiza de forma periódica y que hace llegar a sus suscriptores a través de un proveedor de servicios de correo electrónico externo, al cual el usuario se ha suscrito de manera voluntaria.
  </p>
  <p>
    EL GESTOR DEL SITIO WEB no está en la obligación de enviar en períodos de tiempo definidos la newsletter, por lo que es totalmente libre de hacerlo cuando lo estime conveniente. El usuario podrá en todo momento ejercer sus derechos de acceso, rectificación, cancelación u oposición siguiendo las instrucciones que encontrará en el pie de página de la newsletter.
  </p>
  <p>
    El usuario no deberá compartir su contenido con terceros, ya que esto violaría los derechos de autor de EL GESTOR DEL SITIO WEB. El único canal de distribución posible es el administrado y/o autorizado por EL GESTOR DEL SITIO WEB.
  </p>
  <p>
    EL GESTOR DEL SITIO WEB no se hará responsable por el contenido de terceros expuesto en la newsletter, cualquier controversia que surja deberá ser tratada directamente con la persona o empresa de la cual se hace mención.
  </p>
  <p>
    Todo el material que se expone en la newsletter está protegido por derechos de autor a favor de EL GESTOR DEL SITIO WEB, y en el caso de pertenecer a terceros, se entenderá que EL GESTOR DEL SITIO WEB tiene la debida autorización para utilizarlo como se haya convenido con el autor.
  </p>
  
  <h2>DURACIÓN DEL TRATAMIENTO</h2>
  
  <p>
    En el caso de los datos personales suministrados para facturación y compra de productos o servicios, serán guardados por el tiempo legalmente aplicable por la plataforma que realice la facturación.
  </p>
  <p>
    En el caso de los datos personales suministrados para boletines comerciales electrónicos y comentarios en el blog, será por el tiempo que el titular de los datos desee permanecer en la lista de suscripción, por lo que podrá darse de baja en el momento que así lo desee, de forma automática como se indica en cada boletín, o escribiendo al correo electrónico {correo}.
  </p>
</div>

<style>
  .contenedor {
    max-width: 1200px;
    margin: auto;
    padding: 32px 16px;
  }

  h1 {
    text-align: center;
  }

  h1, h2, p {
    margin-block: 24px;
  }

  p {
    line-height: 1.8;
  }

  ul {
    padding-left: 32px;
  }

  li {
    margin-block: 12px;
  }
</style>