---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import AvisoCookies from "../components/AvisoCookies.astro";

interface Props {
  title: string;
  description: string;
  keywords: string;
  robots: string;
}

const { title, description, keywords, robots } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content={robots} />
    <meta
      name="google-site-verification"
      content="ea7qov-PwGNTg4ldLcu0Zq7RXqrbIjMQInLd86rpB28"
    />
    <link rel="icon" href="icono-manchas-de-tinta.ico" />
    <script src="https://kit.fontawesome.com/a7a0089e5e.js"></script>
    <title>{title}</title>
  </head>
  <body class="relative">
    <AvisoCookies />
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

  body {
    font-family: "Poppins", sans-serif;
  }

</style>
